<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">MedCare</a>
        <ul class="nav-links">
            <li><a href="/patient_dashboard"  class="active">Dashboard</a></li>
            <li><a href="/patient_blogs">Blog</a></li>
            <li><a href="/doctors" class="book-appointment">Book Appointment</a></li>
            <li><a href="/upcoming_appointments" class="book-appointment">Upcoming Appointments</a></li>
            <li><a href="/logout" class="logout">Logout</a></li>
        </ul>
    </div>
</nav>